.title {
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 3.125rem;
  padding: 10px 0;
}
.fact {
  text-align: center;
  font-size: 1.313rem;
  font-weight: 300;
  padding: 10px 0;
  margin: 10px 0;
}
.cardsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3% 0;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .fact {
    font-size: 1rem;
  }
  .cardsdiv {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .fact {
    font-size: 0.9rem;
  }
  .cardsdiv {
    flex-direction: column;
  }
}
