.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #2cee91;
  border-radius: 5px;
  width: 15.438rem;
  height: 18.813rem;
}
.card-text {
  font-size: 1.313rem;
  text-align: center;
}
.card-image {
  height: 12.5rem;
  width: 12.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: 12.5rem;
    height: 15.625rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-image {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 10rem;
    height: 12.5rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .card-image {
    height: 8rem;
    width: 8rem;
  }
}
