.roadmapList {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .roadmapList {
    margin-left: 0 !important;
    justify-content: center;
    gap: 1rem !important;
    align-items: center;
    flex-direction: column;
  }
}
