.roadmap-card {
  width: 393px;
  height: 171px;
  border: 4px solid #2cee91;
  border-radius: 10px;
  margin: 20px;
}
.roadmap-card:hover {
  transform: scale(1.03);
  border: 4px solid white;
  background-color: #2cee91;
}

.roadmap-card:hover h3,
.roadmap-card:hover p {
  color: black;
}

.roadmap-card h3 {
  font-size: 22px;
  font-weight: medium;
  color: white;
  background-color: transparent;
  margin: 10px;
}

.roadmap-card p {
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin: 10px;
  background-color: transparent;
}
.start-learning {
  text-align: right;
  text-decoration: underline;
}
