.testimonial-container {
  overflow: hidden;
}

.cards-testimonial-container {
  display: flex;
  overflow: hidden; /* Hide scrollbar */
}

.cards-testimonial {
  display: flex;
  justify-content: flex-start; /* Start scrolling from the left edge */
  gap: 4rem; /* Reduce the gap between cards */
  margin: 3% 0;
  animation: scroll 15s linear infinite;
}

.cards-testimonial.paused {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%); /* Move first list halfway out */
  }
  100% {
    transform: translateX(-100%); /* Move second list completely out */
  }
}
